body {
    margin-right: 10%;
    background-color: gainsboro;
    margin-left: 10%;
}

.navbar {
    display: flex;
    background-color: #ffff;
    margin: 0%;    
}
ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;   
}
.navbar__list {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    /* padding-right: 40px; */
    
}
.navbar__list h3 {
    margin-top: 0px;
    padding-left: 15px;
}
.top_corner_container {
    display: flex;
    padding-left: 120px;
    justify-content: space-around;
}
.fa-bell {
    border-radius: 20px;
    padding-right: 10px;
    background-color: #f3f3fc;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 10px;
}
.fa-cog {
    padding-right: 40px;
    border-radius: 20px;
    padding-right: 10px;
    background-color: #f3f3fc;
    padding-top: 10px;
    padding-left: 10px;
}
.fa-user {
    padding-left: 20px;
    border-radius: 20px;
    padding-right: 10px;
    background-color: #f3f3fc;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 50px;
    border-bottom: 1px #c7c7d1 solid ;
}

.navbar__dashboard {
    display: flex;
    padding-right: 40px;
    
}
.navbar__invoice {
    display: flex;
    padding-right: 40px;
    border-bottom: 2px #3634c5 solid;
    color: #3634c5;
    height: 30px;
}
.navbar__wallet {
    display: flex;
    padding-right: 40px;
}
.navbar__activity {
    display: flex;
    padding-right: 40px;
}
.navbar__help {
    display: flex;
    padding-right: 40px;
}
.blue {
    padding-left: 40px;
    color: #4846ca;
}
.main__content-tittle {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 40px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

span {
    color: #a0a9bc;
}
#manage {
    color: #3634c5;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    justify-content: center;
    padding-left: 15px;
    border: 1px white solid;
    margin-right: 40px;
}
.main__content {
    background-color: #f7f9fb;
}
.inv {
    color: #3634c5;
}
.main__cards {
    display: flex;
    
}
.email {
    color: grey;
}
.cards__left {
    background-color: white;
    width: 700px;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 40px;
}
.profile {
    display: flex;

}
.profile img {
    width: 50px;
    height: 50px;
    margin-top: 18px;

}
.cards__left-address {
    display: flex;
    justify-content: space-between;
}
.address {
    color: rgb(179, 168, 168);
}
.address p {
    padding-right: 10px;
    text-align-last: right;
}
.cards__left-info {
    display: flex;
    justify-content: space-between;
    background-color: #4848a3;
    border-radius: 10px;
    margin-right: 15px;
}
.info_date {
    color: white;
    font-weight: bold;
}
.cards__left-info p , 
.cards__left-info h3 {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;

}
.left_info {
    padding-right: 10px;
    text-align-last: right;
}
.cards__left-info h3 {
    margin-bottom: 0;
}
.info p {
    margin-top: 0;
}
.customize {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-top: 10px;
    background-color: #f3f3fc;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
.card__left-customize {
    display: flex;
    /* width: 200px;
    height: 40px; */
    margin: 20px;
    justify-content: space-between;
    

}
.custom {
    text-align: center;
    color: #3634c5;
}
.items p {
    margin-top: 0;
}
.items h3 {
    margin-bottom: 0;
    margin-top: 10px;
}
th {
    border-bottom: 1px rgb(216, 211, 211) solid;
    padding-right: 20px;
    color: rgb(185, 180, 180);
}
table {
    border-bottom: 1px rgb(216, 211, 211) solid;
    border-top: 1px rgb(216, 211, 211) solid;

}
/* td {
    padding-left: 10px;
    background-color: #f3f3fc;
    justify-content: center;
    height: 30px !important;
    border-radius: 10px;
} */
input {
    padding-left: 10px;
}
.i-input {
    position: relative;
}
.fa-usd {
    position: absolute;
    left: 5px;
    color: #a0a9bc;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 10px;
}
::placeholder {
    padding-left: 5px;
}
#mynumber {
    border-radius: 10px;
    border: 1px #f3f3fc solid;
    background-color: #f3f3fc;
    align-items: center;
    padding: 10px;
    width: 60px;
    padding-left: 15px;
    margin-left: 5px;
}
.text-input {
    border-radius: 10px;
    border: 1px #f3f3fc solid;
    background-color: #f3f3fc;
    align-items: center;
    padding: 10px;
}
#mytext {
    border-radius: 10px;
    border: 1px #f3f3fc solid;
    background-color: #f3f3fc;
    align-items: center;
    padding: 20px; 
    width: 250px;
    height: 1px;
}
#mynumber:focus {
    border: 1px #f3f3fc solid;
}
.fa-plus-circle {
    color: #3634c5;
    background-color: white;
}
.project-payment {
    margin: 40px;
    border-radius: 10px;
}
.descript {
    margin-top: 20px;
    margin: 40px;
    border-radius: 10px;
}
.dollar {
    border-radius: 10px;

}
.pay-header {
    display: flex;
}
.select {
    padding: 20px;
}
.payment_method {
    display: flex;
    justify-content: space-between;
}
.transfer {
    display: flex;
    justify-content: space-between;
}
.transfer img {
    width: 50px;
    height: 30px;
}
.sub-black {
    color: black;
}
.account__info {
    border-radius: 10px;
    background-color: #f3f3fc;
    padding: 20px;
}
.amount-tax {
    border-bottom: 3px #f3f3fc solid;
}
.sub-total {
    padding-right: 70px;
    text-align-last: left;
    font-weight: bold;
}
.total-cash {
    padding-left: 30px;
    color: black;
}
.discount-cash {
    padding-left: 90px;
    color: black;
}
.tax-cash {
    padding-left: 90px;
    color: black;
    border-bottom: 3px #f3f3fc solid;

}
.sub-cash {
    padding-left: 55px;
    color: black;
}
.dollar-bold {
padding-left: 40px;
}
.zaky-profile {
    display: flex;
    border-bottom: 2px #f7f9fb solid ;
}
.zacky-menu {
    display: flex;
    justify-content: space-between;
}
.zacky-menu img {
    width: 30px;
    height: 20px;
    padding-top: 15px;
}
.Due-menu {
    display: flex;
    justify-content: space-between;
}
.Due-menu img {
    width: 30px;
    height: 20px;
    padding-top: 15px;

}
.zaky-profile img {
    width: 40px;
    height: 40px;
    padding-top: 10px;
}
.cards__right {
    margin-left: 40px;
    font-size: small;
}
.right_clients-detail {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.right-amount {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.due_date {
    background-color: rgb(245, 217, 222);
    color: rgb(233, 14, 14);
    width: 150px;
    height: 25px;
    border-radius: 20px;
    padding: 15px;

    
}
.attach {
    display: flex;
    justify-content: space-between;
    border-top: 1px #f3f3fc solid;
}
.preview-dowload_button {
    position: relative;
    left: 5px;
    display: flex;
    background-color: white;
    color: #3634c5;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    height: 25px;
    align-items: center;
}
.preview-dowload_button i {
    padding-right: 5px;
    padding-top: 2px;
}
.load-view {
    background-color: white;
    color: #3634c5;
    padding-left: 10px;
    border-radius: 10px;
    margin-left: 10px;
    height: 20px;
    align-items: center;
    text-align: center;
    border: 2px white solid;
}
.fa-eye {
    position: absolute;
    padding-right: 5px;
    padding-top: 2px;
    
    color: #3634c5;
}
.fa-file-pdf-o {
    position: absolute;
    color: #3634c5;

}

.preview-download {
    display: flex;
    justify-content: space-between;
}
.send {
    background-color: #3634c5;
    color: white;
    border-radius: 20px;
    justify-self: center;
    width: 300px;
    height: 50px;
    margin-top: 20px;
}
.add {
    background-color: #f7f9fb;
    color: #3634c5;
    border-radius: 20px;
    justify-self: center;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    border: 1px #f3f3fc solid;
}

 /* toggle in label designing */
 .toggle {
    position : relative ;
    display : inline-block;
    width : 60px;
    height : 30px;
    background-color: #e4e6eb;
    border-radius: 30px;
    border: 2px solid white;
    margin-top: 10px;
}
        
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition:  all 0.5s;
}
        
/* Toggle text */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
        
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 30px; 
}
        
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: #3634c5;
}
        
/* Checkbox vanished */
.checkbox { 
    display : none;
}
